{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pixel Hero - Viewing Picture</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon2.png' %}" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" style="background-color: #212529; position: fixed;" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Pixel Hero</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'loggedin' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'picture-upload' %}">Upload</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout {{ request.user.username }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <section class="page-section bg-dark" id="carousel">
            <div class="container-xxl">

                <div class="row">
                    <div class="text-center">
                        <h2 style="color:whitesmoke" class="section-heading text-uppercase">Manage Page</h2>
                        <h3 style="color:whitesmoke" class="section-subheading"> This will be the Portfolio View</h3>
                    </div>

                </div>

                <div class="row">

                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for picture in pictures %}
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} class="active" {% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}">

                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">

                            {% for picture in pictures %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" style="background-image: url({{ picture.image.url }})">

                            </div>
                            {% endfor %}

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>

        </section>


        <!-- the edit section starts here -->

 <section class="page-section bg-light" id="portfolio">
            <div class="container">

                <div class="row">
                    <button><a href="{% url 'delete-multiple-pictures' %}">Delete multiple Pictures</a></button>
                    <button><a href="{% url 'download-multiple-pictures' %}">Download multiple Pictures</a></button>

                    <h2>Edit Picture </h2>
                    <br>
                    <img src="{{ picture.thumbnail.url }}" alt="User Photo">

                    <form method="POST">
                        {% csrf_token %}
                        <br>
                    <p><input type="text" name="title" {% if picture.title %} placeholder="{{ picture.title }}" {% else %} placeholder="add title" {% endif %} maxlength="100" id="id_title"></p>
                    <p><input type="text" name="description" {% if picture.description %} placeholder="{{ picture.description }}" {% else %} placeholder="add description" {% endif %} maxlength="255" id="id_description"></p>
                    <p><input type="text" name="tags" {% if picture.tags.all %} placeholder="{{ picture.tags.all }}" {% else %} placeholder="add tags (e.g. cats,nature)"  {% endif %} maxlength="255" id="id_tags"></p>

                    <div><label>This picture appears in:</label>
                        <div id="id_gallery">
                        <div><label for="id_gallery_0">
                            <input type="checkbox" name="gallery" value="2" id="id_gallery_0" checked="">
                    Color</label><br>
                    </div>
                    </div>
                </div>
                    <p>
                        <label for="id_public_exif">Public exif:</label>
                        <input type="checkbox" name="public_exif" id="id_public_exif" checked="">
                    </p>
                    <p>
                        <label for="id_public_picture">Set picture as public:</label> <input type="checkbox" name="public_picture" id="id_public_picture"></p>

                        <p>
                            <label for="id_public_link">Show picture's direct link:</label>
                            <input type="checkbox" name="public_link" id="id_public_link">


                        </p>
                    <br> <button>Update</button> <br><br> <a href="{% url 'all_pictures' %}">Back</a>
                    </form>

<div><a href="{% url 'mainpage' %}"> Back to main page </a></div>
</div>
</div>
</section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Pixel Hero 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Think outside the Loop</a>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/galleries.js' %}" type="text/javascript"></script>
    </body>
</html>