   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete multiple pictures</title>
</head>
<body>
    <h2>Select pictures you want to delete</h2>
    
    <div><button type="button" id="SelectAll">Select All</button></div>
    <div><button type="button" id="UnselectAll">Clear selection</button></div>

{% csrf_token %}
{% for picture in pictures %}
<div id='picture-{{ picture.id }}'>
    <img src="{{ picture.thumbnail.url }}">
    <input type="checkbox" name="picture_id[]" value="{{ picture.id }}" id="delete_picture">
</div>
    
{% endfor %}  

<div><button type="submit" class="btn_delete" id="delete_btn">Delete</button></div>

<script>

window.addEventListener('load', () => {

    document.getElementById('SelectAll').onclick = function() {
            event.preventDefault()
            let checkboxes = Array.from(document.querySelectorAll('input[type=checkbox]'))
            checkboxes.forEach((el) => {el.checked = true})
        }

        document.getElementById('UnselectAll').onclick = function() {
            event.preventDefault()
            let checkboxes = Array.from(document.querySelectorAll('input[type=checkbox]'))
            checkboxes.forEach((el) => {el.checked = false})
        }

        document.querySelector('#delete_btn').addEventListener('click', event => {
            event.preventDefault()
            if(confirm('Do you want to delete those images?')){
                const csrf=document.querySelector('input[name=csrfmiddlewaretoken').value
                const ids = Array.from(document.querySelectorAll('input[type=checkbox]:checked'))
                if(ids.length===0) {
                    alert('Please select items to delete')
                } else {
                    const data = new FormData()
                    ids.forEach((el) => {
                        data.append('id[]', el.value)
                    })
                    data.append('csrfmiddlewaretoken', csrf)
                    fetch('.', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'X-CSRFToken': csrf
                        },
                        credentials: 'same-origin',
                        body: data
                        
                    }).then(response => {if (!response.ok){
                        alert('Server Error')
                        return
                    }
                    
                    ids.forEach(id =>  removeFadeOut(document.getElementById(`picture-${id.value}`), 200))


                }
                    )

                }

            }
        })
    })

    function removeFadeOut( el, speed ) {
    var seconds = speed/1000;
    el.style.transition = "opacity "+seconds+"s ease";
    el.style.opacity = 0;
    setTimeout(function() {
        el.parentNode.removeChild(el);
    }, speed);
}

    function checkAll() {
        let checkboxes = document.getElementsByTagName('input')    
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
            checkboxes[i].setAttribute('checked', true)
            }
        }
    }

</script>
</body>
</html>